#body
{
`	background-image:url("vesit.jpg");
    margin-left:200px;
	margin-right:200px;
	margin-top:200px;
	margin-bottom:200px;
	
}
#top
{
	color:blue;
	text-align:center ;
}
#middle
{
	color:blue;
	text-align:center ;
}

